body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color:#000;
    font-size:16px;
}
 .container{
     width: 1170px;
     margin: 0 auto;
 }

 ul, li {
     display:block;
     padding: 0;
     margin:0;
        }

 h1, h2, h3, h4, h5, h6 {
     font-weight:900;
 }

 h1{
     font-size:65px ;
letter-spacing:0.23em;
border-top:3px solid #9ab4be;
border-bottom:3px solid #9ab4be;
width:640px;
padding:14px 0;
margin:0 auto;
text-transform:uppercase;
 }

 h2 {
     font-size: 40px;
     margin:0;
 }
 h3{
     color:#737373;
     font-size:18px;
     margin-top:40px;
     margin-bottom: 33px;
 }


.nav{
    display:flex;
justify-content: space-between;
align-items:center;
}

.header{
    background-color: #30697d;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: cover;
    color:white;
    padding-bottom:426px;
    padding-top:90px;
}

.mail{
color:#fff;
text-decoration: none;
font-size:14px;
}

.offer{
    margin-top: 293px;
    text-align: center;
    letter-spacing: 0.1em;
}

.offer p {
    font-size: 25px;
    color:#d0d9dd;
}


.man{
    width:423px;
    height:583px;
    background: url('../img/man.jpg');
    background-repeat: no-repeat;
    background-position:ceter top;
}

.text {
    width:670px;
}
.text p {
    color:#7f7f7f;
    line-height:1.66 em;
}

.btn{
    background-color:#ff2b4a;
    color:#fff;
width:202px;
display:block;
text-decoration: none;
text-align: center;
padding:12px 0;
}

.about .container {
    display:flex;
justify-content: space-between;
padding-top:114px;
}
.heading {
    padding-top:112px;
    text-align: center;
}

.heading p{
    color:#6f6f6f;
    margin-top:25px;
}

.process {
    background-color:#f6f6f6;
}

.steps{
display:flex;
justify-content: space-between;
margin-top: 60px;
}

.steps li {
    width:280px;
    height:280px;
    background: #10c6fc;
    color:white;
}

.steps li:nth-child(2){
  background-color:#835aeb ;  
}

.steps li:nth-child(3){
    background-color: #002453;
}

.steps li:nth-child(4){
    background-color: #ff2b4a;
}

.steps li div{
    margin-top:100px;
    text-align:center;
}

.row-1 {
    display:flex;
    margin-top: 60px;
    justify-content: space-between;
}

.row-1 li{
    height:280px;
    width:280px;
    background: #10c6fc;
}

.row-1 li:nth-child(2){
    background-color:#835aeb ;  
  }
  
  .row-1 li:nth-child(3){
      background-color: #002453;
  }
  
  .row-1 li:nth-child(4){
      background-color: #ff2b4a;
  }
  

  .row-2 {
    display:flex;
    margin-top: 15px;
    justify-content: space-between;
    padding-bottom: 116px;
}

.row-2 li:first-child{
    height:280px;
    width:575px;
    background: #835aeb;
}

.row-2 li:nth-child(2){
    background-color: #002453;
    height:280px;
    width:280px;
}

.row-2 li:nth-child(3){
    background-color: #ff2b4a;
    height:280px;
    width:280px;

}


.footer {
    background-color: #302f2f;
    font-size: 12px;
    color:#9c9c9c;
    padding-top: 60px;
    text-align: center;
    padding-bottom: 51px;
}

.socials {
    display:flex;
    justify-content:center; 
}


.socials img{
    width:35px;
    height:35px;
    margin-right:25px;
    }


.socials li:last-child img {
    margin-right: 0;
}

@media screen and (max-width: 1200px) {
	.container {
		width: 768px;
	}
	.man {
		display: none;
	}
	.text {
	    width: auto;
	}
	.about {
	    padding-top: 74px;
	    padding-bottom: 110px;
	}
}

@media screen and (max-width: 800px) {
	.container {
		width: auto;
		padding: 0 10px;
		min-width: 290px;
	}
	h1 {
		width: auto;
	}
}

@media screen and (max-width: 510px) {
	.steps {
		flex-direction: column;
	}

	.steps li {
		    margin: 0 auto 30px;
	}
}

@media screen and (max-width: 400px) {
	h1 {
		font-size: 42px;
	}
}



