body{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
 .container{
     width: 1170px;
     margin: 0 auto;
 }

 h1, h2, h3, h4, h5, h6 {
     font-weight:900;
     text-transform:uppercase;
 }

 h1{
     font-size:65px ;
letter-spacing:0.23em;
border-top:3px solid #9ab4be;
border-bottom:3px solid #9ab4be;
width:640px;
padding:14px 0;
margin:0 auto;
 }

.nav{
    display:flex;
justify-content: space-between;
align-items:center;
}

.header{
    background-color: #30697d;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center top; 
    background-size: cover;
    color:white;
    padding-bottom:426px;
    padding-top:90px;
}

.mail{
color:#fff;
text-decoration: none;
}

.offer{
    margin-top: 293px;
    text-align: center;
    letter-spacing: 0.1em;
}

.offer p {
    font-size: 25px;
    color:#d0d9dd;
}





